{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} My blog {% endblock %}</title>
</head>
<body class="container p-5 my-5 bg-dark text-white">
    <nav>
        <ul id="common_nav">
            <li><a href="{% url 'blog:index' %}">Home</a></li>

            {% if not user.is_authenticated %}
                <li><a href="{% url 'blog:register' %}">SingUp</a></li>
                <li><a href="{% url 'blog:login' %}">LogIn</a></li>
            {% endif %}

            {% if user.is_authenticated %}
                <li><a href="{% url 'blog:logout' %}">LogOut</a></li>
                <li><a href="">{{ user.username }}</a></li>
            {% endif %}
        </ul>

        {% if user.is_superuser %}
            <ul id="admin_nav">
                <li><a href="{% url 'admin:index' %}">Admin panel</a></li>
                <li><a href="{% url 'blog:test_panel' %}">Test Panel</a></li>
            </ul>
        {% endif %}
    </nav>
    <div id="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>