{% extends "blog/base.html" %}

{% block title %}{{article.title}}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-1">
            <button type="button" formmethod="post"
                    class="upvote-button btn m-2"
                    onclick="location.href='{% url 'blog:vote_post' article.id True %}'">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                </svg>
            </button>

            <p>{{ votes }}</p>

            <button type="button" formmethod="post"
                    class="downvote-button btn m-2"
                    onclick="location.href='{% url 'blog:vote_post' article.id False %}'">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                     fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                </svg>
            </button>
        </div>
        <div class="col-lg-11">
            <article class="card-1 p-2 pb-0">
                <header><h1>{{ article.title }}</h1></header>
                <p>{{ article.text }}</p>

                <div class="text-end pt-5">
                    <p>Publication date: {{ article.pub_date }}</p>
                    <p>Last edited date: {{ article.last_edit_date }}</p>
                </div>
            </article>
        </div>
    </div>
{% endblock %}