{% extends 'blog/base.html' %}

{% block content %}
    <h1>Login</h1>
    {% if user.is_authenticated %}
        <p> You're already logged-in </p>
    {% else %}
        <form method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                    <label class="mt-3" for="{{ field.id_for_label }}"> {{ field.label }}: </label>
                    {{ field }}
            {% endfor %}
            <input type="submit" value="Submit" class="btn btn-primary mt-3">
        </form>
    {% endif %}
{% endblock %}