{% extends 'blog/base.html' %}

{% block content %}
    <h1>Register</h1>
    {% if user.is_authenticated %}
        <p> You're already logged-in </p>
    {% else %}
        <form method="POST">
          {% csrf_token %}
          {{ form.non_field_errors }}
          {% for field in form %}
              <label class="mt-3 form-label" for="{{ field.id_for_label }}"> {{ field.label }}: </label>
              {{ field }}
              <div class="small">
                {{ field.help_text }}
              </div>
          {% endfor %}
          <input type="submit" value="Submit" class="btn btn-primary mt-3">
        </form>
    {% endif %}
{% endblock %}