.card-1 {
    margin-bottom: 10px;

    background-color: #000000;

    border-style: solid;
    border-color: #1a2167;
    border-radius: 20px;
}

.upvote-button,.downvote-button {
    background-color: #424242;
}

.upvote-button-selected {
    background-color: green;
}

.downvote-button-selected {
    background-color: red;
}

.upvote-button:hover, .upvote-button:focus {
    background-color: green;
}

.downvote-button:hover, .downvote-button:focus {
    background-color: red;
}

